:root {
  --primary-color: #377D47;
  --background-color: #0C0F0D;
  --highlight-color:#5D7D37;
  --shade-color: #1D241F;
  --fail-color: #CE4845;
  --secondary-color: #9E946B;
}
html{
  background-color: var(--background-color);
  font-size: 15px;
}
#root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px){
  html{
    font-size: 9px;
  }
}
@media (min-width: 2000px){
  html{
    font-size: 20px;
  }
}